<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
</head>

<body>

<div class="container">

	<h3>Product Directory</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/templates/crud/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Product
	</a>
	<table class="table table-borderd table-striped">
		<thead class="thead-dark">
			<tr>
				<th>name</th>
				<th>created</th>
				<th>price</th>
				<th>description</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.name}" />
				<td th:text="${product.created}" />
				<td th:text="${product.price}" />
				<td th:text="${product.description}" />

				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/templates/crud/showFormForUpdate(productId=${product.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add "delete" button/link -->
					<a th:href="@{/templates/crud/delete(productId=${product.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure tou want to delete this product?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	
	</table>
	
</div>

</body>

</html>